{% extends "base.html" %}

{% block content %}
<div class="container">
      <h1></h1>

      <div id="header_padding"></div>
      <!-- here is jobbers form -->
      <div id="3928b611-6db2-46b3-b59b-c4a2df3ac684-1419473"></div>
      <link rel="stylesheet" href="https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css" media="screen" />
      <script src="https://d3ey4dbjkt2f6s.cloudfront.net/assets/static_link/work_request_embed_snippet.js" clienthub_id="3928b611-6db2-46b3-b59b-c4a2df3ac684-1419473" form_url="https://clienthub.getjobber.com/client_hubs/3928b611-6db2-46b3-b59b-c4a2df3ac684/public/work_request/embedded_work_request_form?form_id=1419473"></script>
      </div>
{% endblock %}

